/.DS_Store
/.vscode
/CAS WEBSITE
/Cara Satir
/Drain
/Foto Bu Nisa
/Hilmy
/JAWA
/MOV00105.AVI
/MOV00106.AVI
/MOV00107.AVI
/MVI_7255.MP4
/Movie on 16-01-26 at 20.16.mov
/MuseScore4
/Photo on 06-10-25 at 20.21 #2.jpg
/Photo on 30-03-26 at 08.43.jpg
/PythonTest
/SERTIJAB
/SETUP PODCAST
/SS
/Sample of WindowServer.txt
/Senam Anak Indonesia Hebat.mp4
/TUgas.mp4
/Untitled 3.png
/Video Ngaji 4F&3A (v2).mp4
/Video Ngaji 4F&3A.mp4
/Video Transcipter WebApp
/Visual Animation HTML from GPT4o-mini
/Webhook GChat
/adalah
/canva.html
/dashboard14jun.html
/editorgambar-simpel-main
/ib-physics-hl-bank 
/kodebroken.gs
/merge.js
/profile.html
/uploads
/venvtest
/webapp
/wpforms-api
/wpforms-firebase
/yangkung